/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  p {
    font-size: large;
  }
  
  /* Container Styles */
  /* .div-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  } */

  .div-container {
    display: grid;
    grid-template-rows: repeat( auto-fill, 2, 1fr);
  }
  
  .div-top {
    padding: 100px 220px 50px; /* Combined shorthand for padding */
  }
  
  /* Navigation */
  .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .logo {
    font-size: x-large;
  }
  
  /* Section Styles */
  .section-down {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .pasion-span,
  .logistics-span {
    color: green; /* Merged styles for shared properties */
  }
  
  /* Bottom Section */
  .div-bottom {
    background-color: gray;
    
  }
  


  .div-bottom-section {
    background-color: white;
    margin: 100px 200px;
    display: flex;
    flex-direction: column;
    position: relative; 
    padding-top: 50px;  
    /* overflow: hidden;  */
    padding-bottom: 20px;
    padding-left: 15px;
}

.div-bottom-header {
    position: absolute; 
    top: 10px; 
    left: -10px;
    background-color: rgba(255, 166, 0, 0.836);
    box-sizing: border-box; 
    width: 350px;
    text-align: center;
}


  
 

  
  
  